

    <div class="col-md-12" id="printsection">
       
           <table class="table">
<h2>Invoice Bill</h2>
            <tbody>
              <tr>
<th>Bill Number: {{data.id}}</th>
<th></th>
<th></th>
<th>Customer Name: {{data.customer.name}}

</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
              <tr *ngFor="let item of data.orderItems">
                <td>{{item.product.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price*item.quantity}}</td>
              </tr>
              
                <tr>

                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Total</th>
                  <th>{{data.total}}</th>
                </tr>
            </tbody>
           </table>
          </div>
          <div class="col-md-12">
           <button mat-button (click)="print()" style="background-color:rgb(85, 61, 85);color:white ">Print</button>
          
          </div>
