

    <div class="col-md-12" id="printsection">
       
           <table class="table">
<h2>Invoice Bill</h2>
            <tbody>
              <tr>
<th>Bill Amount: 80</th>
<th></th>
<th></th>
<th>Customer Name: Captain

</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quality</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>cupcake</td>
                <td>20</td>
                <td>1</td>
                <td>20</td>
              </tr>
              <tr>
                  <td>Bread</td>
                  <td>30</td>
                  <td>2</td>
                  <td>60</td>
                </tr>
                <tr>

                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Total</th>
                  <th>80</th>
                </tr>
            </tbody>
           </table>
          </div>
          <div class="col-md-12">
           <button mat-button (click)="print()" style="background-color:rgb(85, 61, 85);color:white ">Print</button>
          
          </div>
