<div class="col-md-12" id="printsection">
  <span class="none"> {{today | date:'short'}}</span>
  <h2 class="text-center"> Invoice Bill</h2>
  <div>
    <strong> Bill Number: {{data.id}}&nbsp; </strong>
  </div>
  <div class="cname">
    <strong>Customer Name: {{data.customer.name}}</strong>
  </div>

  <div class="table-responsive">

    <table class="table ">
      <tbody>
        <tr>
          <td>
            <b>Name</b>
          </td>
          <td>
            <b>Price</b>
          </td>

          <td>
            <b>Quantity</b>
          </td>

          <td>
            <b>Total</b>
          </td>
        </tr>

        <tr *ngFor="let item of data.orderItems">
          <td>{{item.product.name}}</td>
          <td class="center">{{item.price}}</td>

          <td class="center">{{item.quantity}}</td>

          <td class="center">{{item.price*item.quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="center">
            <b>Total</b>
          </td>

          <td class="center">
            <b>{{data.total}}</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>



<div class="col-md-12">
  <button mat-button (click)="print()" style="background-color:rgb(85, 61, 85);color:white ">Print</button>

</div>

