<div class="container">
  <div class="col-md-12">
<div style="text-align:center">
  <h2>Bakery App</h2>
  <h4>Welcome to Bakery App.</h4>
</div>
<div class="col-md-12">
  <div class="col-md-3"></div>
<div class="col-md-6">
  <form class="text-center">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Choose a Store" [(ngModel)]="selectedShopName" name="shop">
        <mat-option *ngFor="let shop of shops" [value]="shop.shopName">
          {{shop.shopName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

 <div class="text-center">
   
  <button mat-button class="main-shop" (click)="onOk()">Ok</button>

</div>
</div>
</div>
</div>
</div>