<div>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" text="he" #inputSearch #itemNameInput="matInput"   [value]="search" placeholder="Select an Item" aria-label="Number" matInput [formControl]="formControl"
        [matAutocomplete]="auto" autofocus>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option (onSelectionChange)="onSelectionChange(option)" *ngFor="let option of filteredOptions | async" [value]="option.name" 
          (click)="onSelectionChange(option)">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div *ngIf="item">
  <h4>Product Details</h4>
  <div class="example-container">
    <mat-form-field>
      <input matInput [disabled]="true" [(ngModel)]="item.product.name"  [value]="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput  [(ngModel)]="item.quantity"  [value]="item.quantity"  placeholder="Quantity" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="item.price" [value]="item.price" placeholder="Price">
    </mat-form-field>
    <button mat-button (click)="onAdd(item)" href="#" style="background-color:rgb(85, 61, 85);color:white ">Add Cart</button>
  </div>

</div>