
  <h2>Cart Items</h2>
  <h3>Total:{{salesOrder.total}}</h3>
  <div class="button-card">
     
     
          <div class="col-md-12">
        <button mat-button style="background-color:  #553d55;margin-right: 15px;" (click)="onOrderClick()" >Order</button>
      
    
       
        <button mat-button style="background-color:  #553d55;" (click)="onCheckOut()">CheckOut</button>
      </div>
   
    </div>
    <div class="col-md-12">
  <div *ngIf="showOrderItems">
     <mat-card *ngFor="let item of salesOrder.orderItems">
    <table class="table">
     
      <thead>
      <tr>
        <td class="item-cart">{{item.product.name}}</td>
        <td class="item-cart">{{item.quantity}}</td>
        <td class="item-cart">₹{{item.price}}</td>
        <td class="item-cart">₹{{item.quantity *item.price}}</td>
      </tr>
    </thead>
    </table>
    </mat-card>


    
 
   
  </div>
</div>