<div *ngIf="item">
   <div class="col-md-8">
     <h3>Products details</h3>
    <mat-form-field class="example-full-width">
      <input matInput #itemNameInput="matInput" [value]="item.name" placeholder="Item Name" name="itemName" type="text" autofocus>
    </mat-form-field>
 
    <mat-form-field class="example-full-width">
      <input matInput [value]="item.quantity" type="number" placeholder="Quanity" name="quantity">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput [value]="item.price" type="number" placeholder="Price" name="price">
    </mat-form-field>
 

 
    <button mat-button (click)="editproduct(item)"  href="#"style="background-color:rgb(85, 61, 85);color:white ">Edit Product</button>
 
</div>
</div>
 