<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="col-md-12" style="margin-top: 10px">
  <div class="row">
  <div class="col-md-2">
  <h3>{{title |uppercase}}</h3>
  </div>
  <div class="col-md-7" style=" margin-top: 17px;">
     
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a routerLink='bill'>Home</a></li>
      <li role="presentation" class="dropdown"> 
        <a href="#" class="dropdown-toggle"
         data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink='product'>Add Products</a></li>
          <li><a routerLink='product-list'>List Products</a></li>
         </ul>
    </li>
    <li role="presentation" class="dropdown"> 
        <a href="#" class="dropdown-toggle"
         data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink='orderlist'>List Orders</a></li>
         </ul>
    </li>
    <li role="presentation" class="dropdown"> 
        <a href="#" class="dropdown-toggle"
         data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink='customer-add'>Add Customers</a></li>
          <li><a routerLink='customer-list'>List Customers</a></li>
         </ul>
    </li>
    <li role="presentation" class="dropdown"> 
        <a href="#" class="dropdown-toggle"
         data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sales <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink='print'>Sales Report</a></li>
         </ul>
    </li>
      
    </ul>
    
  </div>
  <div class="col-md-3">
    
  
    <h3>Store Name</h3>
  </div>
  
  
  </div>
  </div>
  <div class="col-md-12">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10" style=" margin-top: 17px;">
  <router-outlet></router-outlet>
  </div>
  </div>
  </div>
  </div>