<div class="col-md-8">
    <h2>Add Customer</h2>
  <form class="example-form">
      <mat-form-field class="example-full-width">
          <input matInput #customerNameInput="matInput"  [(ngModel)]="customer.name" placeholder="Customer Name" name="customerName"   type="text" autofocus>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="customer.mobile" type="text" placeholder="Mobile" name="mobile">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="customer.alternateMobile" type="text" placeholder="AlternateMobile" name="alternateMobile">
        </mat-form-field>
        <button mat-button (click)="onSubmit()" href="#" style="background-color:rgb(85, 61, 85);color:white ">Add Customer</button>
    </form>
  </div>