<div class="col-md-8">
    <h2>Add Customer</h2>
  <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile Number">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Alternate Mobile">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="City">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="State">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pincode">
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Country">
                  </mat-form-field>
          <button mat-button (click)="onAdd(item)"  href="#"style="background-color:rgb(85, 61, 85);color:white ">Add Customer</button>
    </form>
  </div>