<div class="col-md-6">
  <h2>Add Item to Cart</h2>
    <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" text="he" #focuses  placeholder="Select an Item" aria-label="Number"   matInput [formControl]="myControl"   [matAutocomplete]="auto" >
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option (onSelectionChange)="onSelect(option)" *ngFor="let option of filteredOptions | async" [value]="option.name"  (click)="onSelect(option)">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <div class="col">
           <app-productdetail [item]="selectedOption" [items]="cartItems" (cartEvent)="receiveCartItem($event)"></app-productdetail>
          </div>
</div>
<div class="col-md-4">
  <app-cart [setitems]="cartitem" (closeBill)="closeBill($event)" (order)="cartItems=$event;"></app-cart>
</div>

