.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .btn-home{
      color: white;
      background-color: #553d55;
  }
  .store{
      background-color: #553d55;
      margin: 10px 80px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    
  }
  a:focus, a:hover{
      text-decoration: none;
  }