<div class="col-md-12">
  <mat-card-header>
    <mat-toolbar class="toolbar">
      <mat-card-title>Sales Details</mat-card-title>
      <span class="toolbar-spacer"></span>
      <mat-icon (click)="onNoClick()" style="float: right;" class="cusor">cancel</mat-icon>
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <div class="example-container mat-elevation-z8">

        <div class="col-md-12">
           <table class="table">
<tbody>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quality</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>cupcake</td>
        <td>20</td>
        <td>1</td>
        <td>20</td>
      </tr>
      <tr>
          <td>Bread</td>
          <td>30</td>
          <td>2</td>
          <td>60</td>
        </tr>
</tbody>
           </table>
     
    </div>
    </div>
  </mat-card-content>
</div>
